{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on Go Noobie{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}
Dear User,
You're receiving this email because you need to finish activation process on Go Noobie.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
{% blocktrans %}
<p>Dear User,<br>You're receiving this email because you need to finish activation process on Go Noobie.</p>{% endblocktrans %}

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://gonoobie.com/{{ url }}">{{ protocol }}://gonoobie.com/{{ url }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Go Noobie team{% endblocktrans %}</p>

{% endblock html_body %}
